In [ ]:
# n1

import pandas as pd
import numpy as np

mylist = [i for i in range(5)]
myarr = np.array([i for i in range(7)])
mydict = [{"f": "1", "o": "2", "l": "3", "t": "4"}]

(pd.DataFrame(mylist))
(pd.DataFrame(myarr))
(pd.DataFrame(mydict))

   f  o  l  t
0  1  2  3  4

In [ ]:
# n2
import numpy as np
import pandas as pd

mylist = list('jjoea4543')
myarr = np.arange(4)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.reset_index()

df.columns = ['index', 'values']

print("Исходный Series:")
print(ser)

print("\nDataFrame с индексом в качестве столбца:")
print(df)

Исходный Series:
j    1
o    2
e    3
dtype: int64

DataFrame с индексом в качестве столбца:
  index  values
0     j       1
1     o       2
2     e       3

In [ ]:
import numpy as np
import pandas as pd

mylist = list('hhaifs')
myarr = np.arange(6)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df

  col1  col2
0    h     0
1    h     1
2    a     2
3    i     3
4    f     4
5    s     5

In [ ]:
# n4

import pandas as pd

ser = pd.Series(list('ffoord'))
ser.name = 'latin_letters'

print(ser)

0    f
1    f
2    o
3    o
4    r
5    d
Name: latin_letters, dtype: object

In [ ]:
# n5

import pandas as pd

ser1 = pd.Series([1, 1, 2, 3, 4, 5, 8, 10, 15, 25, 6, 2])
ser2 = pd.Series([1, 4, 5, 6, 7, 8])


print(ser1)

0      1
1      1
2      2
3      3
4      4
5      5
6      8
7     10
8     15
9     25
10     6
11     2
dtype: int64

In [ ]:
# n6

import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

indexes_1 = ser1[ser1.isin(ser2)].index
indexes_2 = ser2[ser2.isin(ser1)].index

ser1.drop(indexes_1, inplace=True)
ser2.drop(indexes_2, inplace=True)

df = pd.concat([ser1, ser2])

df

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [ ]:
# n7

import pandas as pd

ser = pd.Series(np.random.normal(10, 5, 25))

print(min(ser))
print(max(ser))

print(ser.quantile(0.25))
print(ser.quantile(0.75))
print(ser.quantile(0.5))

print(ser)

-0.4444980058138359
19.642875189965032
8.279000087469685
12.87335057929131
10.34531493836489
0     14.672277
1     13.099487
2      8.476906
3     -0.444498
4     19.642875
5     11.056035
6      4.598626
7     12.644251
8     10.627544
9     10.345315
10    16.021403
11    12.873351
12    10.558139
13     9.205517
14     2.888242
15     9.204194
16    12.563042
17     6.641986
18     8.279000
19    13.912197
20     8.586134
21     8.437689
22     7.363097
23    19.491970
24    -0.112357
dtype: float64

In [ ]:
# n8

import pandas as pd

ser = pd.Series(np.take(list('fraklefkrlkkolokl'), np.random.randint(7, size=18)))

freq = ser.value_counts()

freq

f    5
l    4
a    3
e    3
k    2
r    1
Name: count, dtype: int64

In [ ]:
# n9

import pandas as pd

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top_2_values = ser.value_counts().nlargest(2).index

# Заменяем все элементы, кроме двух наиболее часто встречающихся, на "Прочее"
ser_modified = ser.where(ser.isin(top_2_values), 'Прочее')

print(ser_modified)

0          1
1          3
2          3
3          1
4          1
5     Прочее
6          1
7          1
8     Прочее
9     Прочее
10         3
11    Прочее
dtype: object

In [ ]:
# n10

import pandas as pd

ser = pd.Series(np.random.random(30))

labels = [f'{i}th' for i in range(1, 11)]

deciles = pd.qcut(ser, q=10, labels=labels)

deciles = deciles.astype('category')

print(deciles)

0      1th
1      9th
2      9th
3      2th
4     10th
5      3th
6      7th
7      3th
8      2th
9      4th
10     6th
11     8th
12     8th
13     2th
14     1th
15     6th
16     9th
17     4th
18     4th
19    10th
20     3th
21     5th
22     7th
23     5th
24    10th
25     1th
26     6th
27     5th
28     7th
29     8th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [ ]:
# n11

import pandas as pd

ser = pd.Series(np.random.randint(1, 10, 35))

reshaped_array = ser.values.reshape(7, 5)

df = pd.DataFrame(reshaped_array)

df

   0  1  2  3  4
0  8  4  1  5  6
1  5  8  8  4  8
2  1  4  4  5  8
3  7  4  7  4  9
4  2  6  1  5  3
5  7  3  1  8  8
6  1  7  9  9  8

In [ ]:
# n12

import pandas as pd

ser = pd.Series(np.random.randint(1, 10, 7))

positions = ser.index[ser % 3 == 0].tolist()

print("Позиции чисел, кратных 3:", positions)

Позиции чисел, кратных 3: [1, 4, 6]

In [ ]:
# n13

import pandas as pd
import numpy as np

ser = pd.Series(list('flkflfkflkd'))
pos = [1, 2, 4, 5, 8]

extracted_elem = ser.iloc[pos]

extracted_elem

1    l
2    k
4    l
5    f
8    l
dtype: object

In [ ]:
# n14

import pandas as pd
import numpy as np

ser1 = pd.Series(range(10))
ser2 = pd.Series(list('abcdejokf'))

df = pd.concat([ser1, ser2], axis=1)

df

   0    1
0  0    a
1  1    b
2  2    c
3  3    d
4  4    e
5  5    j
6  6    o
7  7    k
8  8    f
9  9  NaN

In [ ]:
# n15

ser1 = pd.Series([10, 9, 6, 17, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13, 17])

positions = pd.Index(ser1).get_indexer(ser2)

print("Позиции элементов ser2 в ser1:", positions.tolist())

Позиции элементов ser2 в ser1: [6, 5, 0, 9, 3]

In [ ]:
# n16

import pandas as pd
import numpy as np

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = ((truth - pred) ** 2).mean()
print("Среднеквадратическая ошибка (MSE):", mse)

Среднеквадратическая ошибка (MSE): 0.3659647133258551

In [ ]:
# n17

import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = ser.str.capitalize()
print(ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [ ]:
# n18

import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = ser.str.len()
print(ser)

0    3
1    2
2    4
3    4
dtype: int64

In [ ]:
# n19

import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

first_diff = ser.diff()

second_diff = first_diff.diff()

print("Первая разность:")
print(first_diff.tolist())

print("Вторая разность:")
print(second_diff.tolist())

Первая разность:
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
Вторая разность:
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [ ]:
# n20

import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_datetime = pd.to_datetime(ser, format='mixed')

print(ser_datetime)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [ ]:
# n21

import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_datetime = pd.to_datetime(ser, format='mixed')

ser_date = ser_datetime.dt.day
ser_week = ser_datetime.dt.isocalendar().week
day_of_year = ser_datetime.dt.dayofyear
day_of_week = ser_datetime.dt.day_name()

result = pd.DataFrame({
    'Date': ser_date,
    'Week number': ser_week,
    'Day num of year': day_of_year,
    'Day of week': day_of_week
})

print(result)

   Date  Week number  Day num of year Day of week
0     1           53                1      Friday
1     2            5               33   Wednesday
2     3            9               63    Saturday
3     4           14               94    Thursday
4     5           19              125      Monday
5     6           23              157    Saturday

In [ ]:
# n22

import pandas as pd

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

new_ser = pd.to_datetime(ser.str.replace(r'(\w{3} \d{4})', r'04 \1', regex=True), format="mixed")

new_ser

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [ ]:
# n23

import pandas as pd

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def has_at_least_two_vowels(word):
    vowels = set("aeiouAEIOU")
    return sum(1 for char in word if char in vowels) >= 2

result = ser[ser.apply(has_at_least_two_vowels)]

print(result)

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
# n24

import pandas as pd

emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

pattern = r'[A-Za-z0-9_%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern, na=False, regex=True)]

print(valid_emails)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [ ]:
# n25

import pandas as pd
import numpy as np

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

df = pd.DataFrame({"Fruit": fruit, "Weight": weights})

meam_weights = df.groupby('Fruit')['Weight'].mean()

meam_weights

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'banana', 'carrot', 'carrot', 'carrot', 'banana', 'carrot', 'apple', 'banana', 'apple']

Fruit
apple     9.00
banana    4.50
carrot    4.75
Name: Weight, dtype: float64

In [ ]:
# n26

import pandas as pd
import numpy as np

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
q = pd.Series([11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

distance = np.sqrt(np.sum((p - q) ** 2))

distance = round(distance, 3)

print(distance)

20.976

In [ ]:
# n27

import pandas as pd
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser))[0]

print(peaks)

[1 5 7]

In [ ]:
# n28

import pandas as pd

my_str = 'dbc deb abed gade'

ser = pd.Series(list(my_str))

char_counts = ser.value_counts()

least_frequent_char = char_counts[char_counts.index != ' '].idxmin()

result = ''.join(ser.replace(' ', least_frequent_char))

print(result)

dbccdebcabedcgade

In [ ]:
# n29

import pandas as pd
import random

date = ['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22', '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19', '2000-02-26', '2000-03-04']
rand = [random.randint(1, 10) for i in range(10)]

df = pd.DataFrame({'Datetime': date, "Random": rand})

df

     Datetime  Random
0  2000-01-01       4
1  2000-01-08       1
2  2000-01-15       4
3  2000-01-22       3
4  2000-01-29       7
5  2000-02-05       5
6  2000-02-12       8
7  2000-02-19       5
8  2000-02-26      10
9  2000-03-04       9

In [ ]:
# n30

import pandas as pd
import numpy as np

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

full_date_range = pd.date_range(start=ser.index.min(), end=ser.index.max(), freq='D')

ser_reindexed = ser.reindex(full_date_range)

ser_filled = ser_reindexed.ffill()

print(ser_filled)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

In [ ]:
# n31

import pandas as pd
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(10)]

autocorrelations_without_lag0 = autocorrelations[1:]

max_corr_lag = np.argmax(autocorrelations_without_lag0) + 1

print(autocorrelations)
print(f"Lag having highest correlation: {max_corr_lag}")

[1.0, 0.38855206318295205, 0.22938548352846236, 0.43258351082333546, 0.10872389555621191, -0.030733859731399103, 0.043840895083523186, 0.20436305934153726, 0.5638274394317963, 0.5147032526045731]
Lag having highest correlation: 8

In [97]:
# n32

import pandas as pd
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"

df = pd.read_csv( url, skiprows=lambda x: x % 50 != 0)

print(df)

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

In [92]:
# n33

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url)

df['MEDV_Category'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')

print(df[['medv', 'MEDV_Category']].head())

   medv MEDV_Category
0  24.0           Low
1  21.6           Low
2  34.7          High
3  33.4          High
4  36.2          High

In [84]:
# n34

import pandas as pd
import numpy as np

L = pd.Series(range(15))

window_size = 4

intervals = np.lib.stride_tricks.sliding_window_view(L, window_size)

df = pd.DataFrame(intervals)

print(df)

     0   1   2   3
0    0   1   2   3
1    1   2   3   4
2    2   3   4   5
3    3   4   5   6
4    4   5   6   7
5    5   6   7   8
6    6   7   8   9
7    7   8   9  10
8    8   9  10  11
9    9  10  11  12
10  10  11  12  13
11  11  12  13  14

In [91]:
# n35

import pandas as pd
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url)

selected_columns = df[['crim', 'medv']]

print(selected_columns.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [90]:
# n36

import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

num_rows, num_cols = df.shape
print(num_rows)
print(num_cols)

print(df.dtypes)

print(df.describe(include='all'))

numpy_array = df.to_numpy()
print(numpy_array)

list_representation = df.values.tolist()
print(list_representation)

93
27
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
       Manufacturer    Model     Type  Min.Price      Price  Max.Price  \
count            89       92       90  86.000000  91.000000  88.000000
unique           31       92        6        NaN        NaN        NaN
top            Ford  Integra  Midsize        NaN        NaN        NaN
freq              8        1       22        NaN        NaN        NaN
mean            NaN      NaN      NaN  17.118605  19.616484  21.459091
std             NaN      NaN      NaN   8.828290   9.724280  10.696563
min             NaN      NaN      NaN   6.700000   7.400000   7.900000
25%             NaN      NaN      NaN  10.825000  12.350000  14.575000
50%             NaN      NaN      NaN  14.600000  17.700000  19.150000
75%             NaN      NaN      NaN  20.250000  23.500000  24.825000
max             NaN      NaN      NaN  45.400000  61.900000  80.000000

         MPG.city  MPG.highway      AirBags DriveTrain  ... Passengers  \
count   84.000000    91.000000           55         86  ...  91.000000
unique        NaN          NaN            2          3  ...        NaN
top           NaN          NaN  Driver only      Front  ...        NaN
freq          NaN          NaN           39         61  ...        NaN
mean    22.404762    29.065934          NaN        NaN  ...   5.076923
std      5.841520     5.370293          NaN        NaN  ...   1.045953
min     15.000000    20.000000          NaN        NaN  ...   2.000000
25%     18.000000    26.000000          NaN        NaN  ...   4.000000
50%     21.000000    28.000000          NaN        NaN  ...   5.000000
75%     25.000000    31.000000          NaN        NaN  ...   6.000000
max     46.000000    50.000000          NaN        NaN  ...   8.000000

            Length   Wheelbase      Width  Turn.circle Rear.seat.room  \
count    89.000000   92.000000  87.000000    88.000000      89.000000
unique         NaN         NaN        NaN          NaN            NaN
top            NaN         NaN        NaN          NaN            NaN
freq           NaN         NaN        NaN          NaN            NaN
mean    182.865169  103.956522  69.448276    38.954545      27.853933
std      14.792651    6.856317   3.778023     3.304157       3.018129
min     141.000000   90.000000  60.000000    32.000000      19.000000
25%     174.000000   98.000000  67.000000    36.000000      26.000000
50%     181.000000  103.000000  69.000000    39.000000      27.500000
75%     192.000000  110.000000  72.000000    42.000000      30.000000
max     219.000000  119.000000  78.000000    45.000000      36.000000

        Luggage.room       Weight  Origin           Make
count      74.000000    86.000000      88             90
unique           NaN          NaN       2             90
top              NaN          NaN     USA  Acura Integra
freq             NaN          NaN      46              1
mean       13.986486  3104.593023     NaN            NaN
std         3.120824   600.129993     NaN            NaN
min         6.000000  1695.000000     NaN            NaN
25%        12.000000  2647.500000     NaN            NaN
50%        14.000000  3085.000000     NaN            NaN
75%        16.000000  3567.500000     NaN            NaN
max        22.000000  4105.000000     NaN            NaN

[11 rows x 27 columns]
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

In [88]:
# n37

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

max_price_row = df.loc[df['Price'].idxmax()]

row_index = df['Price'].idxmax()
column_name = 'Price'

print(f"Производитель: {max_price_row['Manufacturer']}")
print(f"Модель: {max_price_row['Model']}")
print(f"Тип: {max_price_row['Type']}")
print(f"Максимальная цена: {max_price_row['Price']}")
print(f"Номер строки: {row_index}")
print(f"Номер столбца: {column_name}")

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Максимальная цена: 61.9
Номер строки: 58
Номер столбца: Price

In [89]:
# n38

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df.rename(columns={'Type': 'CarType'}, inplace=True)

df.columns = df.columns.str.replace('.', '_')

print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [98]:
# n39

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество отсутствующих значений в каждом столбце:")
print(missing_values)

has_missing_values = df.isnull().values.any()
print(f"\nЕсть ли отсутствующие значения в DataFrame: {has_missing_values}")

Количество отсутствующих значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Есть ли отсутствующие значения в DataFrame: True

In [99]:
# n40

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество пропущенных значений в каждом столбце:")
print(missing_values)

max_missing_column = missing_values.idxmax()
max_missing_count = missing_values.max()

print(f"\nСтолбец с наибольшим числом пропущенных значений: {max_missing_column}")
print(f"Количество пропущенных значений: {max_missing_count}")

Количество пропущенных значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столбец с наибольшим числом пропущенных значений: AirBags
Количество пропущенных значений: 38

In [100]:
# n41

import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df['Min.Price'] = df['Min.Price'].apply(lambda x: df['Min.Price'].mean() if pd.isna(x) else x)

df['Max.Price'] = df['Max.Price'].apply(lambda x: df['Max.Price'].median() if pd.isna(x) else x)

print(df[['Min.Price', 'Max.Price']].head())

   Min.Price  Max.Price
0  12.900000      18.80
1  29.200000      38.70
2  25.900000      32.30
3  17.118605      44.60
4  17.118605      19.15

In [101]:
# n42

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

def replace_missing(column):
    if column.name == 'Min.Price':
        return column.fillna(column.mean())
    elif column.name == 'Max.Price':
        return column.fillna(column.median())
    return column

df = df.apply(replace_missing, axis=0)

print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small  12.900000   15.9      18.80      25.0
1           NaN   Legend  Midsize  29.200000   33.9      38.70      18.0
2          Audi       90  Compact  25.900000   29.1      32.30      20.0
3          Audi      100  Midsize  17.118605   37.7      44.60      19.0
4           BMW     535i  Midsize  17.118605   30.0      19.15      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van  16.600000   19.7      22.70      17.0
89   Volkswagen   Passat  Compact  17.600000   20.0      22.40      21.0
90   Volkswagen  Corrado   Sporty  22.900000   23.3      23.70      18.0
91        Volvo      240  Compact  21.800000   22.7      23.50      21.0
92          NaN      850  Midsize  24.800000   26.7      28.50      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                 NaN      Front  ...        7.0   187.0
89         30.0                 NaN      Front  ...        5.0   180.0
90         25.0                 NaN      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

In [102]:
# n43

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

first_column_as_df = df.loc[:, ['a']]

print(first_column_as_df)

    a
0   0
1   5
2  10
3  15

In [104]:
# n44

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[['a', 'c']] = df[['c', 'a']]
print("После обмена столбцов 'a' и 'c':")
print(df)

def swap_columns(df, col1, col2):
    df[[col1, col2]] = df[[col2, col1]]
    return df

df = swap_columns(df, 'a', 'c')
print("\nПосле повторного обмена столбцов 'a' и 'c' с использованием функции:")
print(df)

df = df.reindex(columns=sorted(df.columns, reverse=True))
print("\nПосле сортировки столбцов в обратном алфавитном порядке:")
print(df)

После обмена столбцов 'a' и 'c':
    a   b   c   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

После повторного обмена столбцов 'a' и 'c' с использованием функции:
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

После сортировки столбцов в обратном алфавитном порядке:
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [103]:
# n45

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

print(df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

In [105]:
# n46

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4) ** 10, columns=['random'])

pd.set_option('display.float_format', '{:.4f}'.format)

print(df)

   random
0  0.0120
1  0.0260
2  0.0000
3  0.0900

In [106]:
# n47

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4), columns=['random'])

df['random'] = df['random'].apply(lambda x: f'{x * 100:.2f}%')

print(df)

   random
0  72.24%
1  65.00%
2  26.03%
3  21.11%

In [107]:
# n48

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

filtered_df = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

print(filtered_df)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [108]:
# n49

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0, 1, 2, 3, 5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')

df['index'] = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
df.set_index('index', inplace=True)

is_primary_key = df.index.is_unique

print(df)
print(f"Индекс является первичным ключом: {is_primary_key}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
index
Acura_Integra_Small              Acura  Integra    Small    12.9000    18.8000
missing_Legend_Midsize         missing   Legend  Midsize    29.2000    38.7000
Audi_90_Compact                   Audi       90  Compact    25.9000    32.3000
Audi_100_Midsize                  Audi      100  Midsize        NaN    44.6000
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van    16.6000    22.7000
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact    17.6000    22.4000
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty    22.9000    23.7000
Volvo_240_Compact                Volvo      240  Compact    21.8000    23.5000
missing_850_Midsize            missing      850  Midsize    24.8000    28.5000

[93 rows x 5 columns]
Индекс является первичным ключом: True

In [109]:
# n50

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))

fifth_largest_value = df['a'].nlargest(5).iloc[-1]

position = df[df['a'] == fifth_largest_value].index[0]

print(f"Позиция строки с 5-м наибольшим значением в столбце 'a': {position}")

Позиция строки с 5-м наибольшим значением в столбце 'a': 3

In [111]:
# n51

import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 100, 15))

mean_value = ser.mean()

filtered_ser = ser[ser > mean_value]

second_largest = filtered_ser.sort_values(ascending=False).iloc[1]

print("Второе по величине значение, превышающее среднее:", second_largest)

Второе по величине значение, превышающее среднее: 96

In [112]:
# n52

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

row_sums = df.sum(axis=1)

filtered_df = df[row_sums > 100]

result = filtered_df.tail(2)

print("Две последние строки, сумма строк которых больше 100:")
print(result)

Две последние строки, сумма строк которых больше 100:
     0   1   2   3
8   38  38  26  15
12  34  38  32  36

In [113]:
# n53

import pandas as pd
import numpy as np

ser = pd.Series(np.logspace(-2, 2, 30))

percentile_5 = ser.quantile(0.05)
percentile_95 = ser.quantile(0.95)

ser[ser < percentile_5] = percentile_5

ser[ser > percentile_95] = percentile_95

print(ser)

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
       ...
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
Length: 30, dtype: float64

In [114]:
# n54

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

positive_values = df[df >= 0].stack().reset_index(drop=True)

n = int(np.sqrt(len(positive_values)))

positive_values = positive_values.nlargest(n**2)

square_df = positive_values.values.reshape(n, n)

result_df = pd.DataFrame(square_df)

print(result_df)

        0       1       2       3       4       5       6       7
0 49.0000 48.0000 47.0000 46.0000 46.0000 46.0000 44.0000 43.0000
1 42.0000 41.0000 39.0000 39.0000 36.0000 35.0000 35.0000 35.0000
2 34.0000 34.0000 34.0000 33.0000 33.0000 32.0000 32.0000 31.0000
3 31.0000 31.0000 31.0000 31.0000 30.0000 29.0000 27.0000 26.0000
4 26.0000 23.0000 23.0000 21.0000 21.0000 20.0000 19.0000 17.0000
5 17.0000 17.0000 16.0000 16.0000 14.0000 14.0000 13.0000 13.0000
6 12.0000 12.0000 10.0000 10.0000 10.0000  9.0000  9.0000  9.0000
7  9.0000  8.0000  8.0000  7.0000  5.0000  4.0000  4.0000  4.0000

In [115]:
# n55

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

df.iloc[[1, 2]] = df.iloc[[2, 1]].values

print(df)

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

In [116]:
# n56

import pandas as pd
import numpy as np

# Создание датафрейма
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Переворачивание строк датафрейма
reversed_df = df.iloc[::-1]

print("Исходный датафрейм:")
print(df)
print("\nПеревернутый датафрейм:")
print(reversed_df)

Исходный датафрейм:
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Перевернутый датафрейм:
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [119]:
# n57

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

binary_columns = pd.get_dummies(df['a'])

df = pd.concat([binary_columns, df[['b', 'c', 'd', 'e']]], axis=1)

print(df)

       0      5     10     15     20   b   c   d   e
0   True  False  False  False  False   1   2   3   4
1  False   True  False  False  False   6   7   8   9
2  False  False   True  False  False  11  12  13  14
3  False  False  False   True  False  16  17  18  19
4  False  False  False  False   True  21  22  23  24

In [124]:
# n58

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

row_max = df.max(axis=1)

max_counts = (df.eq(row_max, axis=0)).sum()

column_with_most_max = max_counts.idxmax()

print(f"Столбец с наибольшим количеством строчных максимумов: {column_with_most_max}")

Столбец с наибольшим количеством строчных максимумов: 3

In [127]:
# n59

import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1),
                  columns=list('pqrs'), index=list('abcdefghij'))

distances = cdist(df.values, df.values, metric='euclidean')

df['nearest_row'] = ''
df['dist'] = 0.0

for i in range(len(df)):

    distances[i, i] = np.inf

    nearest_index = np.argmin(distances[i])

    df.at[df.index[i], 'nearest_row'] = df.index[nearest_index]
    df.at[df.index[i], 'dist'] = distances[i, nearest_index]

print("Результат:")
print(df)

Результат:
    p   q   r   s nearest_row    dist
a  12   5  41  28           d 30.7409
b  84  76  37  19           f 49.9900
c  34  93  58  74           h 13.4536
d   6  17  68  22           a 30.7409
e  11  42  88  10           d 34.5543
f  89  27  29  22           b 49.9900
g  21  79  95  43           i 34.2929
h  24  96  52  68           c 13.4536
i  27  95  73  63           c 19.9750
j  10  54  14   2           a 61.7252

In [131]:
# n60

import pandas as pd
import numpy as np

# Создание датафрейма
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1),
                  columns=list('pqrstuvwxy'), index=list('abcdefgh'))

# Вычисление корреляционной матрицы
corr_matrix = df.corr()

# Поиск максимального абсолютного значения корреляции для каждого столбца
max_abs_corr = corr_matrix.apply(lambda x: x.abs().max())

print("Максимальное абсолютное значение корреляции для каждого столбца:")
print(max_abs_corr)

Максимальное абсолютное значение корреляции для каждого столбца:
p   1.0000
q   1.0000
r   1.0000
s   1.0000
t   1.0000
u   1.0000
v   1.0000
w   1.0000
x   1.0000
y   1.0000
dtype: float64

In [135]:
# n61

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

min_values = df.min(axis=1)
max_values = df.max(axis=1)

result_df = pd.DataFrame({'min': min_values, 'max': max_values})

print(result_df)

   min  max
0    5   99
1    2   88
2    9   93
3    7   98
4    2   90
5   17   96
6   10   92
7   13   97

In [137]:
# n62

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

def get_penultimate(row):
    sorted_row = np.sort(row)[-2]
    return sorted_row

df['penultimate'] = df.apply(get_penultimate, axis=1)

print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  35  71  69  45   4  ...  97   5  70  17           71
1  85  16  88  35  45  ...   1  26  73  69           85
2  44  65  89  63  89  ...  49  92  92  28           92
3  82  75  51   8   3  ...  76  35  75   3           81
4  74  10  20  44  95  ...  20  21  55  24           94
5  56  88  98  90  35  ...  22  43  55  29           90
6  63  45  39  23  84  ...  69   7  97  34           97
7  25  34  68  49  47  ...   2  76  23  60           68

[8 rows x 11 columns]

In [139]:
# n63

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

df_normalized = (df - df.mean()) / df.std()

df_ranked = (df - df.min()) / (df.max() - df.min())

print("Нормализованный DataFrame:")
print(df_normalized)

print("\nРанжированный DataFrame:")
print(df_ranked)

Нормализованный DataFrame:
        0       1       2       3       4       5       6       7       8  \
0 -1.3883 -1.6028  1.0436 -0.3997  0.6277  0.4690 -0.7049  0.1106  0.4903
1  0.5310  0.7789 -0.0232  1.4326 -0.0509 -0.6653 -0.0248 -1.9179 -0.3403
2 -0.7591  0.5297 -2.0640 -0.6512  0.0848 -0.4908 -0.9316 -0.7745 -0.2019
3  1.0344 -1.3812 -0.7653 -1.5853  0.5259 -1.1889 -0.2798  0.7008 -1.2631
4 -0.5703  0.3358  0.0232 -0.2560  0.6277  0.7744 -0.7332 -0.2213 -1.3093
5 -0.7591  1.0281  0.5798  0.3189  1.1706 -1.1889  1.7038  0.7008  0.0750
6  0.4995 -0.3012  0.6261  1.2889 -1.2724  0.9926  1.3921  1.2909  1.1362
7  1.4119  0.6127  0.5798 -0.1482 -1.7135  1.2980 -0.4215  0.1106  1.4131

        9
0 -0.7703
1 -0.8352
2  1.4677
3 -1.0298
4  0.5920
5  0.6568
6  0.8839
7 -0.9650

Ранжированный DataFrame:
       0      1      2      3      4      5      6      7      8      9
0 0.0000 0.0000 1.0000 0.3929 0.8118 0.6667 0.0860 0.6322 0.6610 0.1039
1 0.6854 0.9053 0.6567 1.0000 0.5765 0.2105 0.3441 0.0000 0.3559 0.0779
2 0.2247 0.8105 0.0000 0.3095 0.6235 0.2807 0.0000 0.3563 0.4068 1.0000
3 0.8652 0.0842 0.4179 0.0000 0.7765 0.0000 0.2473 0.8161 0.0169 0.0000
4 0.2921 0.7368 0.6716 0.4405 0.8118 0.7895 0.0753 0.5287 0.0000 0.6494
5 0.2247 1.0000 0.8507 0.6310 1.0000 0.0000 1.0000 0.8161 0.5085 0.6753
6 0.6742 0.4947 0.8657 0.9524 0.1529 0.8772 0.8817 1.0000 0.8983 0.7662
7 1.0000 0.8421 0.8507 0.4762 0.0000 1.0000 0.1935 0.6322 1.0000 0.0260

In [141]:
# n64

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

correlations = [df.iloc[i].corr(df.iloc[i + 1]) for i in range(len(df) - 1)]

result_df = pd.DataFrame(correlations, columns=['Correlation'])

print(result_df)

   Correlation
0       0.0690
1       0.2484
2       0.2337
3       0.0024
4       0.0770
5       0.3669
6      -0.4719

In [140]:
# n65

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))

df.values[[np.arange(df.shape[0])] * 2] = 0
df.values[[np.arange(df.shape[0])[::-1]] * 2] = 0

print(df)

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

In [142]:
# n66

import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')

apple_group = df_grouped.get_group('apple').reset_index(drop=True)

print(apple_group)

    col1   col2  col3
0  apple 0.2062    10
1  apple 0.2227     6
2  apple 0.0404    11

In [144]:
# n67

import pandas as pd
import numpy as np

df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_df = df[df['fruit'] == 'banana']

sorted_banana_df = banana_df.sort_values(by='rating', ascending=False)

second_largest = sorted_banana_df['rating'].iloc[1]

print("Второе по величине значение taste для banana:", second_largest)

Второе по величине значение taste для banana: 0.4214024051977493

In [145]:
# n68

import pandas as pd
import numpy as np

df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

mean_price = df.groupby('fruit')['price'].mean().reset_index()

mean_price.columns = ['fruit', 'mean_price']

print("Средняя цена каждого фрукта:")
print(mean_price)

Средняя цена каждого фрукта:
    fruit  mean_price
0   apple      8.0000
1  banana      8.6667
2  orange      3.0000

In [146]:
# n69

import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

merged_df = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'])

print(merged_df)

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high       13   apple  high       12
1  orange    low        1  orange   low        6
2   apple   high        7   apple  high       12
3  orange    low        3  orange   low        6
4   apple   high       11   apple  high       12
5  orange    low        6  orange   low        6

In [147]:
# n70

import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': np.arange(10, 15)
})

df['lag1'] = df['a'].shift(1)

df['lead1'] = df['b'].shift(-1)

print(df)

   a   b   lag1   lead1
0  1  10    NaN 11.0000
1  2  11 1.0000 12.0000
2  3  12 2.0000 13.0000
3  4  13 3.0000 14.0000
4  5  14 4.0000     NaN

In [149]:
# n71

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))


freqs = df.stack().value_counts()

print(freqs)

3    6
2    4
4    3
6    2
9    2
5    1
7    1
1    1
Name: count, dtype: int64

In [155]:
# n72

import pandas as pd

df = pd.DataFrame([
    "STD, City   State",
    "33, Kolkata   West Bengal",
    "44, Chennai   Tamil Nadu",
    "40, Hyderabad   Telengana",
    "80, Bangalore   Karnataka"
], columns=['row'])

df = df.iloc[1:]

split_data = df['row'].str.split(', ', expand=True)

if split_data.shape[1] < 3:
    split_data[2] = None

new_df = pd.DataFrame({
    'STD': split_data[0],
    'City': split_data[1],
    'State': split_data[2]
})

print(new_df)

  STD                   City State
1  33  Kolkata   West Bengal  None
2  44   Chennai   Tamil Nadu  None
3  40  Hyderabad   Telengana  None
4  80  Bangalore   Karnataka  None